:root {
  --primary-color: #19191a;
  --secondary-color: turquoise;
  --third-color: #f76b8a;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
html * {
  font-family: Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
}
body {
  line-height: 2;
  padding-top: 5px;
}
#page-container {
  position: relative;
  min-height: 80vh;
}
#content-wrap {
  padding-bottom: 1.5rem;
  margin-bottom: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  text-align: center;
  margin-top: 10px;
}
nav {
  padding: 2px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--secondary-color);
}
.hero-container {
  padding: 0px !important;
}
.hero {
  min-height: 60rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  background: url("../images/Sakura-blue.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero h1 {
  font-size: 55px !important;
  margin: 0;
  padding: 0;
  color: var(--primary-color);
  font-weight: 500;
  line-height: 1.2;
}

.hero h3 {
  font-size: 38px;
  margin: 0px;
  padding: 0;
  color: rgb(63, 59, 59);
}
h1 {
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
  font-size: 44px !important;
  margin-top: 10px !important;
  margin-bottom: 40px !important;
}
h2 {
  color: var(--primary-color);
  font-size: 34px !important;
  padding-top: 10px;
  padding-bottom: 5px;
}
h4 {
  padding-top: 30px;
  font-size: 22px !important;
}
.content-section {
  min-height: 70rem;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  background: url("../images/sakura-black.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#about {
  color: white;
  font-size: 22px;
}
#about a {
  color: white;
}
#about a:hover {
  color: var(--third-color);
}
.content-section-heading h1,
.content-section-heading .h1 {
  font-size: 3rem;
  color: white;
}
.content-section-heading h2,
.content-section-heading .h2 {
  font-size: 1.3rem;
  color: white;
  padding-top: 10px;
}
.content-section-heading h3,
.content-section-heading .h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: white;
  padding-top: 50px;
}
.about-section {
  min-height: 50rem;
  padding-top: 2rem;
  padding-bottom: 7.5rem;
  margin-bottom: 20px;
  background: url("../images/yellow.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--primary-color);
}
.about-section h4 {
  font-size: 22px !important;
}
.about-image {
  border-radius: 50%;
  width: 70%;
}
a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a,
a:hover {
  text-decoration: none !important;
}
.cv-container {
  min-height: 60rem;
  padding: 0px;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  background: url("../images/pastel.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.skills-section span {
  font-size: 15px;
  font-weight: 400;
}
.timeline {
  border-left: 2px solid #e6e9ed;
  padding: 1rem 0;
}
.timeline-card {
  position: relative;
  margin-left: 31px;
  border-left: 2px solid;
  margin-bottom: 2rem;
}
.timeline-card:last-child {
  margin-bottom: 1rem;
}
.timeline-card:before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  width: 12px;
  height: 12px;
  top: 20px;
  left: -41px;
  border: 2px solid;
  z-index: 2;
}
.timeline-card:after {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: currentColor;
  width: 29px;
  height: 2px;
  top: 25px;
  left: -29px;
  z-index: 1;
}
.timeline-card-primary {
  border-left-color: #f34beb;
}
.timeline-card-primary:before {
  border-color: #e92ba0;
}
.timeline-card-primary:after {
  background-color: #f50f8d;
}
.timeline-card-success {
  border-left-color: #6828ce;
}
.timeline-card-success:before {
  border-color: #990eb4;
}
.timeline-card-success:after {
  background-color: #cf12e0;
}
.content-portfolio {
  min-height: 60rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  background: url("../images/orange.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
portfolio-section-heading h1,
.portfolio-section-heading .h1 {
  font-size: 3rem;
  color: var(--primary-color);
}
.portfolio-section-heading h3,
.portfolio-section-heading .h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: var(--primary-color);
  padding-top: 50px;
}
.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
  border-radius: 10px;
}
.portfolio-item .caption {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.portfolio-item:hover .caption {
  visibility: visible;
}
.portfolio-item .caption .caption-content:hover {
  color: #bbb3b3;
  margin: auto;
  text-align: center;
  visibility: visible;
}
.portfolio-item .caption .caption-content h2,
.portfolio-item .caption .caption-content .h2 {
  font-size: 1rem;
  text-transform: uppercase;
}
.portfolio-item .caption .caption-content h2:hover,
.portfolio-item .caption .caption-content .h2:hover {
  font-size: 1rem;
  text-transform: uppercase;
  visibility: visible;
}
.portfolio-item .caption .caption-content p {
  font-weight: 300;
  font-size: 1.2rem;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
.footer-1 {
  font-family: "Poppins", sans-serif;
  padding-top: 30px;
  padding-bottom: 0;
}
.footer-1 .footer-site-logo {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 900;
}
.footer-1 .footer-site-logo a {
  color: var(--third-color);
}
.footer-1 .nav-links li {
  display: inline-block;
}
.footer-1 .nav-links li a {
  padding: 10px;
  color: var(--fourth-color);
}
.footer-1 .nav-links li a:hover {
  color: var(--secondary-color);
}
.footer-1 p {
  padding: 0px;
}
.p-links a {
  color: var(--fourth-color);
  text-decoration: none !important;
}
.p-links a:hover {
  color: var(--secondary-color);
}
@media only screen and (max-width: 576px) {
  h1 {
    font-size: 30px !important;
    margin-bottom: 5px !important;
  }
  h2 {
    font-size: 26px !important;
    padding: 5px !important;
  }
  h4 {
    font-size: 16px !important;
    line-height: 2 !important;
    padding: 5px !important;
  }
  .hero h1 {
    font-size: 48px !important;
  }
  .about-section h4 {
    font-size: 18px !important;
  }
}
@media (min-width: 992px) {
  .portfolio-item {
    max-width: none;
    margin: 0;
  }
  .portfolio-item .caption {
    transition: background-color 0.7s, -webkit-clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out, background-color 0.7s;
    transition: clip-path 0.25s ease-out, background-color 0.7s,
      -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }
  .portfolio-item .caption .caption-content {
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
  }
  .portfolio-item img {
    transition: -webkit-clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out, -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }
  .portfolio-item:hover img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
  .portfolio-item:hover .caption {
    background-color: rgba(4, 40, 51, 0.9);
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
}
