:root {
  --primary-color: #14103b;
  --secondary-color: turquoise;
  --third-color: #f76b8a;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

html * {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: var(--primary-color);
}

body {
  line-height: 2;
  margin: 50px auto;
  padding-top: 40px;
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}
#page-container {
  position: relative;
  min-height: 80vh;
}
#content-wrap {
  padding-bottom: 2.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  text-align: center;
  margin-top: 20px;
}
.navbar {
  text-align: right;
  background-color: rgb(19, 18, 19);
  font-family: "Poppins", sans-serif;
}
.navbar-brand {
  margin-left: 20px;
  font-size: 22px;
}
.navbar-collapse {
  font-size: 20px;
}
h1 {
  font-family: "Poppins", sans-serif;
  color: var(--third-color);
  font-size: 44px !important;
  margin-top: 60px !important;
  margin-bottom: 40px !important;
}
h2 {
  color: var(--primary-color);
  font-size: 34px !important;
  padding: 10px;
}
h3 {
  font-size: 20px !important;
}
h4 {
  padding-top: 30px;
  font-size: 24px !important;
}
img {
  width: 100%;
}
.about-me-photo {
  width: 75%;
  border-radius: 15px;
}
@media only screen and (max-width: 580px) {
  h1 {
    font-size: 30px !important;
    margin-bottom: 20px !important;
  }
  h2 {
    font-size: 26px !important;
    padding: 5px !important;
  }
  h4 {
    font-size: 18px !important;
    line-height: 2 !important;
    padding: 5px !important;
  }
  .index-text-front {
    font-size: 24px !important;
    text-align: center;
    padding-top: 10px;
    color: rgb(63, 59, 59);
  }
  .cv-title {
    font-size: 18px !important;
  }
}
.about-info {
  padding: 20px;
}
.about-text {
  padding: 30px;
  margin-bottom: 30px;
}
a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a,
a:hover {
  text-decoration: none !important;
}
.card-flip > div {
  backface-visibility: hidden;
  transition: transform 300ms;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
}
.card-front {
  transform: rotateY(0deg);
  background-color: var(--secondary-color);
  border-radius: 20px;
}
.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  height: auto;
  border: transparent;
  background-color: var(--third-color);
  border-radius: 20px;
  color: white;
}
.card-flip:hover .card-front {
  transform: rotateY(-180deg);
}
.card-flip:hover .card-back {
  transform: rotateY(0deg);
}
.contact-link a {
  text-decoration: none !important;
  color: white;
}
.contact-link a:hover {
  color: black;
}
.index-card-front {
  background-color: pink;
}
.index-card-back {
  background-color: var(--secondary-color);
}
.index-text-front {
  font-size: 34px;
  text-align: center;
  padding-top: 10px;
  color: rgb(63, 59, 59);
}
.index-text-back {
  font-size: 24px !important;
  padding: 50px;
}
.contact-card p {
  font-size: 24px;
  text-align: center;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
.footer-1 {
  font-family: "Poppins", sans-serif;
  padding-top: 30px;
  padding-bottom: 0;
}
.footer-1 .footer-site-logo {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 900;
}
.footer-1 .footer-site-logo a {
  color: var(--third-color);
}
.footer-1 .nav-links li {
  display: inline-block;
}
.footer-1 .nav-links li a {
  padding: 10px;
  color: var(--primary-color);
}
.footer-1 .nav-links li a:hover {
  color: var(--secondary-color);
}
.footer-1 p {
  padding: 0px;
}
.p-links a {
  color: var(--primary-color);
  text-decoration: none !important;
}
.p-links a:hover {
  color: var(--secondary-color);
}
.timeline {
  border-left: 2px solid #e6e9ed;
  padding: 1rem 0;
}

.timeline-card {
  position: relative;
  margin-left: 31px;
  border-left: 2px solid;
  margin-bottom: 2rem;
}

.timeline-card:last-child {
  margin-bottom: 1rem;
}

.timeline-card:before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  width: 12px;
  height: 12px;
  top: 20px;
  left: -41px;
  border: 2px solid;
  z-index: 2;
}

.timeline-card:after {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: currentColor;
  width: 29px;
  height: 2px;
  top: 25px;
  left: -29px;
  z-index: 1;
}

.timeline-card-primary {
  border-left-color: #4a89dc;
}

.timeline-card-primary:before {
  border-color: #4a89dc;
}

.timeline-card-primary:after {
  background-color: #4a89dc;
}

.timeline-card-success {
  border-left-color: #37bc9b;
}

.timeline-card-success:before {
  border-color: #37bc9b;
}

.timeline-card-success:after {
  background-color: #37bc9b;
}
.cv-title {
  font-size: 34px !important;
  padding: 10px;
}
