:root {
  --primary-color: #14103b;
  --secondary-color: #0aacac;
  --third-color: #f76b8a;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

html * {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: var(--primary-color);
}

body {
  line-height: 2;
  margin: 50px auto;
  padding-top: 100px;
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  text-align: center;
  margin-top: 20px;
}
.navbar {
  text-align: right;
}
.navbar-brand {
  margin-left: 20px;
  font-size: 22px;
}
.navbar-collapse {
  font-size: 20px;
}
h1 {
  font-family: "Poppins", sans-serif;
  color: var(--third-color);
  font-size: 50px !important;
  margin-top: 70px !important;
}
h2 {
  color: var(--primary-color);
  font-size: 40px !important;
}
h4 {
  padding-top: 30px;
}

@media only screen and (min-width: 480px) {
  img {
    width: 60%;
  }
}
.contact-info {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 30px;
  padding: 100px;
}
.contact-info a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  font-size: 35px;
}
.contact-info a:hover {
  color: purple;
}
.about-me {
  border: 1px solid var(--secondary-color);
  background: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
}
.contact-me {
  border: 1px solid var(--secondary-color);
  color: white;
  background-color: var(--primary-color);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
}
.my-projects {
  border: 1px solid var(--third-color);
  background: var(--third-color);
  color: var(--primary-color);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
}
.about-info {
  padding: 20px;
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
  font-size: 22px;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
}
.email-link:hover {
  color: var(--primary-color);
}
.email-lin:visited {
  color: var(--primary-color);
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a,
a:hover {
  text-decoration: none !important;
}
.footer-1 {
  font-family: "Poppins", sans-serif;
  padding-top: 100px;
}
.footer-1 .footer-site-logo {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 900;
}
.footer-1 .footer-site-logo a {
  color: var(--third-color);
}
.footer-1 .nav-links li {
  display: inline-block;
}
.footer-1 .nav-links li a {
  padding: 10px;
  color: var(--primary-color);
}
.footer-1 .nav-links li a:hover {
  color: var(--secondary-color);
}
.p-links a {
  color: var(--primary-color);
  text-decoration: none !important;
}
.p-links a:hover {
  color: var(--secondary-color);
}
